<section class="px-7 py-4" >
    <div class="flex justify-between text-azul-300 font-bold mt-3">
        <div class="flex items-center text-base">
            <div><img src="assets/img/almacen/inventario.svg" alt=""> </div>
            <div>Almacenes</div>
        </div>
        <div>
            <button class="bg-azul-300 hover:bg-azul-350 text-white font-bold text-base flex items-center px-4 py-2 rounded-md gap-2 focus:outline-none"> 
                <div>
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 5.6H8.4V0H5.6V5.6H0V8.4H5.6V14H8.4V8.4H14" fill="white"/>
                    </svg>
                </div>
                <div>Nuevo</div>
            </button>
        </div>
    </div>
    <div class="bg-white mt-4">
        <fieldset  class="autocompletado-modal-flotante " >
            <div id="tablatraslados">
                <table class="w-full relative py-3 text-xs text-black " >
                    <thead class=" border-b  border-plomo-50  w-auto text-plomo-130 font-medium  ">
                        <tr  class="text-sm w-full font-extralight ">
                            <th class="w-2/12 "> <div class="w-full flex justify-start pl-10 ">NOMBRE</div> </th>
                            <th class="w-6/12"> <div class="w-full flex justify-start pl-20">DIRECCIÓN</div> </th>
                            <th class="w-2/12"> <div class="w-full flex justify-start">TELÉFONO</div>  </th>                                                                              
                            <th class="w-2/12"></th> 
                                                                    
                        </tr>
                    </thead>
                    <tbody class="text-center gap-3   " >
                        <tr  class=" text-sm text-black ">
                            <td class="pl-10 w-2/12" >
                                <span class="flex gap-4">
                                    <div class="flex justify-center ">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 0L0 10H2V19H18V10H20L10 0ZM10 3L16 9V17H4V9L10 3ZM14 11V13H6V11H14Z" fill="#5B5B5B"/>
                                        </svg>       
                                    </div>
                                    <div class="flex flex-col">
                                        <div class="text-plomo-800 font-medium">Almacén Principal</div>
                                    </div>
                                </span>
                            </td>
                            <td class="w-6/12 pl-20">
                                <div class="w-full flex justify-start">Av.  Parker Rd. Allentown, New Marin 344</div> 
                            </td>
                            <td class="w-2/12">
                                <div class="w-full flex justify-start">
                                    <div class="bg-azul-200 bg-opacity-20 text-azul-300  px-4 py-1 rounded-2xl"> (044) 64291</div>                                 
                                </div> 
                                
                            </td> 
                            <!-- uno -->
                            <td class="w-2/12 ">
                                <!-- COMPROBANTE - tres puntos -->
                                <div class="relative">
                                    <button class="w-full focus:outline-none flex justify-center">
                                        <input type="checkbox" id="almacen" class="hidden absolute">
                                        <label for="almacen" class="z-auto flex w-full h-full  items-center justify-center space-x-1 cursor-pointer ">  
                                            <svg class="object-cover w-6" viewBox="0 0 16 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="2" cy="2" r="2" fill="#515151"/>
                                                <circle cx="8" cy="2" r="2" fill="#515151"/>
                                                <circle cx="14" cy="2" r="2" fill="#515151"/>
                                            </svg> 
                                        </label>
                                        <!-- Opcion de Ajustes -->
                                        <div id="principal" class="absolute comprobant mt-1  top-0 left-2 min-w-max  rounded opacity-0 bg-white shadow-md transition delay-75 ease-in-out ">
                                            <ul class="block text-right text-black">
                                                <li class="border-b  border-plomo-50  w-auto text-plomo-520">
                                                    <a href="#"  class="focus:outline-none flex gap-3 px-3 py-2 hover:bg-azul-100">
                                                        <!-- Icono de Editar -->
                                                        <span>
                                                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <rect x="1" y="1" width="16" height="16" rx="1" fill="white"/>
                                                                <path d="M12.347 3.86944L14.1306 5.65218L12.347 3.86944ZM13.4939 2.29891L8.6712 7.12165C8.42201 7.37049 8.25206 7.68753 8.18278 8.03281L7.7373 10.2627L9.9672 9.81639C10.3125 9.74734 10.6291 9.57807 10.8784 9.32881L15.7011 4.50607C15.846 4.36115 15.961 4.1891 16.0394 3.99975C16.1178 3.81039 16.1582 3.60745 16.1582 3.40249C16.1582 3.19754 16.1178 2.99459 16.0394 2.80524C15.961 2.61589 15.846 2.44384 15.7011 2.29891C15.5562 2.15399 15.3841 2.03903 15.1948 1.9606C15.0054 1.88217 14.8025 1.8418 14.5975 1.8418C14.3926 1.8418 14.1896 1.88217 14.0003 1.9606C13.8109 2.03903 13.6389 2.15399 13.4939 2.29891V2.29891Z" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                                <path d="M14.4734 11.9474V14.4737C14.4734 14.9204 14.2959 15.3488 13.9801 15.6647C13.6642 15.9805 13.2358 16.1579 12.7892 16.1579H3.52601C3.07933 16.1579 2.65094 15.9805 2.33509 15.6647C2.01924 15.3488 1.8418 14.9204 1.8418 14.4737V5.21058C1.8418 4.7639 2.01924 4.33551 2.33509 4.01966C2.65094 3.70381 3.07933 3.52637 3.52601 3.52637H6.05232" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            </svg>                                     
                                                        </span> 
                                                        <!-- Textto -->
                                                        <span>Editar</span> 
                                                    </a> 
                                                    <a href="#"  class="focus:outline-none flex gap-3 px-3 py-2 hover:bg-azul-100">
                                                        <!-- Icono de Editar -->
                                                        <span>
                                                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <rect x="1" y="1" width="16" height="16" rx="1" fill="white"/>
                                                                <path d="M12.347 3.86944L14.1306 5.65218L12.347 3.86944ZM13.4939 2.29891L8.6712 7.12165C8.42201 7.37049 8.25206 7.68753 8.18278 8.03281L7.7373 10.2627L9.9672 9.81639C10.3125 9.74734 10.6291 9.57807 10.8784 9.32881L15.7011 4.50607C15.846 4.36115 15.961 4.1891 16.0394 3.99975C16.1178 3.81039 16.1582 3.60745 16.1582 3.40249C16.1582 3.19754 16.1178 2.99459 16.0394 2.80524C15.961 2.61589 15.846 2.44384 15.7011 2.29891C15.5562 2.15399 15.3841 2.03903 15.1948 1.9606C15.0054 1.88217 14.8025 1.8418 14.5975 1.8418C14.3926 1.8418 14.1896 1.88217 14.0003 1.9606C13.8109 2.03903 13.6389 2.15399 13.4939 2.29891V2.29891Z" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                                <path d="M14.4734 11.9474V14.4737C14.4734 14.9204 14.2959 15.3488 13.9801 15.6647C13.6642 15.9805 13.2358 16.1579 12.7892 16.1579H3.52601C3.07933 16.1579 2.65094 15.9805 2.33509 15.6647C2.01924 15.3488 1.8418 14.9204 1.8418 14.4737V5.21058C1.8418 4.7639 2.01924 4.33551 2.33509 4.01966C2.65094 3.70381 3.07933 3.52637 3.52601 3.52637H6.05232" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            </svg>                                     
                                                        </span> 
                                                        <!-- Textto -->
                                                        <span>Editar</span> 
                                                    </a>  
                                                    <a href="#"  class="focus:outline-none flex gap-3 px-3 py-2 hover:bg-azul-100">
                                                        <!-- Icono de Editar -->
                                                        <span>
                                                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <rect x="1" y="1" width="16" height="16" rx="1" fill="white"/>
                                                                <path d="M12.347 3.86944L14.1306 5.65218L12.347 3.86944ZM13.4939 2.29891L8.6712 7.12165C8.42201 7.37049 8.25206 7.68753 8.18278 8.03281L7.7373 10.2627L9.9672 9.81639C10.3125 9.74734 10.6291 9.57807 10.8784 9.32881L15.7011 4.50607C15.846 4.36115 15.961 4.1891 16.0394 3.99975C16.1178 3.81039 16.1582 3.60745 16.1582 3.40249C16.1582 3.19754 16.1178 2.99459 16.0394 2.80524C15.961 2.61589 15.846 2.44384 15.7011 2.29891C15.5562 2.15399 15.3841 2.03903 15.1948 1.9606C15.0054 1.88217 14.8025 1.8418 14.5975 1.8418C14.3926 1.8418 14.1896 1.88217 14.0003 1.9606C13.8109 2.03903 13.6389 2.15399 13.4939 2.29891V2.29891Z" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                                <path d="M14.4734 11.9474V14.4737C14.4734 14.9204 14.2959 15.3488 13.9801 15.6647C13.6642 15.9805 13.2358 16.1579 12.7892 16.1579H3.52601C3.07933 16.1579 2.65094 15.9805 2.33509 15.6647C2.01924 15.3488 1.8418 14.9204 1.8418 14.4737V5.21058C1.8418 4.7639 2.01924 4.33551 2.33509 4.01966C2.65094 3.70381 3.07933 3.52637 3.52601 3.52637H6.05232" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            </svg>                                     
                                                        </span> 
                                                        <!-- Textto -->
                                                        <span>Editar</span> 
                                                    </a>                                                                                                    
                                                </li>                                            
                                            </ul>
                                        </div>
                                    </button>
                                </div>                               
                            </td> 
                        </tr>
                
                        <tr  class=" text-sm text-black ">
                            <td class="pl-10 w-2/12" >
                                <span class="flex gap-4">
                                    <div class="flex justify-center ">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 0L0 10H2V19H18V10H20L10 0ZM10 3L16 9V17H4V9L10 3ZM14 11V13H6V11H14Z" fill="#5B5B5B"/>
                                        </svg>       
                                    </div>
                                    <div class="flex flex-col">
                                        <div class="text-plomo-800 font-medium">Tienda 1</div>
                                    </div>
                                </span>
                            </td>
                            <td class="w-6/12 pl-20">
                                <div class="w-full flex justify-start">Av. Westheimer Rd. Santa Ana, Illinois 854 </div> 
                            </td>
                            <td class="w-2/12">
                                <div class="w-full flex justify-start">
                                    <div class="bg-azul-200 bg-opacity-20 text-azul-300  px-4 py-1 rounded-2xl"> 926 051 240 </div>                                 
                                </div> 
                                
                            </td>         
                            <!-- tres -->
                            <td class="w-2/12 ">
                                <!-- COMPROBANTE - tres puntos -->
                                <div class="relative">
                                    <button class="w-full focus:outline-none flex justify-center">
                                        <input type="checkbox" id="t1" class="hidden absolute">
                                        <label for="t1" class="z-auto flex w-full h-full  items-center justify-center space-x-1 cursor-pointer ">  
                                            <svg class="object-cover w-6" viewBox="0 0 16 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="2" cy="2" r="2" fill="#515151"/>
                                                <circle cx="8" cy="2" r="2" fill="#515151"/>
                                                <circle cx="14" cy="2" r="2" fill="#515151"/>
                                            </svg> 
                                        </label>
                                        <!-- Opcion de Ajustes -->
                                        <div id="tienda1" class="absolute comprobant mt-1  top-0 left-2 min-w-max  rounded opacity-0 bg-white shadow-md transition delay-75 ease-in-out ">
                                            <ul class="block text-right text-black">
                                                <li class="border-b  border-plomo-50  w-auto text-plomo-520">
                                                    <a href="#"  class="focus:outline-none flex gap-3 px-3 py-2 hover:bg-azul-100">
                                                        <!-- Icono de Editar -->
                                                        <span>
                                                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <rect x="1" y="1" width="16" height="16" rx="1" fill="white"/>
                                                                <path d="M12.347 3.86944L14.1306 5.65218L12.347 3.86944ZM13.4939 2.29891L8.6712 7.12165C8.42201 7.37049 8.25206 7.68753 8.18278 8.03281L7.7373 10.2627L9.9672 9.81639C10.3125 9.74734 10.6291 9.57807 10.8784 9.32881L15.7011 4.50607C15.846 4.36115 15.961 4.1891 16.0394 3.99975C16.1178 3.81039 16.1582 3.60745 16.1582 3.40249C16.1582 3.19754 16.1178 2.99459 16.0394 2.80524C15.961 2.61589 15.846 2.44384 15.7011 2.29891C15.5562 2.15399 15.3841 2.03903 15.1948 1.9606C15.0054 1.88217 14.8025 1.8418 14.5975 1.8418C14.3926 1.8418 14.1896 1.88217 14.0003 1.9606C13.8109 2.03903 13.6389 2.15399 13.4939 2.29891V2.29891Z" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                                <path d="M14.4734 11.9474V14.4737C14.4734 14.9204 14.2959 15.3488 13.9801 15.6647C13.6642 15.9805 13.2358 16.1579 12.7892 16.1579H3.52601C3.07933 16.1579 2.65094 15.9805 2.33509 15.6647C2.01924 15.3488 1.8418 14.9204 1.8418 14.4737V5.21058C1.8418 4.7639 2.01924 4.33551 2.33509 4.01966C2.65094 3.70381 3.07933 3.52637 3.52601 3.52637H6.05232" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            </svg>                                     
                                                        </span> 
                                                        <!-- Textto -->
                                                        <span>Editar</span> 
                                                    </a> 
                                                    <a href="#"  class="focus:outline-none flex gap-3 px-3 py-2 hover:bg-azul-100">
                                                        <!-- Icono de Editar -->
                                                        <span>
                                                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <rect x="1" y="1" width="16" height="16" rx="1" fill="white"/>
                                                                <path d="M12.347 3.86944L14.1306 5.65218L12.347 3.86944ZM13.4939 2.29891L8.6712 7.12165C8.42201 7.37049 8.25206 7.68753 8.18278 8.03281L7.7373 10.2627L9.9672 9.81639C10.3125 9.74734 10.6291 9.57807 10.8784 9.32881L15.7011 4.50607C15.846 4.36115 15.961 4.1891 16.0394 3.99975C16.1178 3.81039 16.1582 3.60745 16.1582 3.40249C16.1582 3.19754 16.1178 2.99459 16.0394 2.80524C15.961 2.61589 15.846 2.44384 15.7011 2.29891C15.5562 2.15399 15.3841 2.03903 15.1948 1.9606C15.0054 1.88217 14.8025 1.8418 14.5975 1.8418C14.3926 1.8418 14.1896 1.88217 14.0003 1.9606C13.8109 2.03903 13.6389 2.15399 13.4939 2.29891V2.29891Z" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                                <path d="M14.4734 11.9474V14.4737C14.4734 14.9204 14.2959 15.3488 13.9801 15.6647C13.6642 15.9805 13.2358 16.1579 12.7892 16.1579H3.52601C3.07933 16.1579 2.65094 15.9805 2.33509 15.6647C2.01924 15.3488 1.8418 14.9204 1.8418 14.4737V5.21058C1.8418 4.7639 2.01924 4.33551 2.33509 4.01966C2.65094 3.70381 3.07933 3.52637 3.52601 3.52637H6.05232" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            </svg>                                     
                                                        </span> 
                                                        <!-- Textto -->
                                                        <span>Editar</span> 
                                                    </a>  
                                                    <a href="#"  class="focus:outline-none flex gap-3 px-3 py-2 hover:bg-azul-100">
                                                        <!-- Icono de Editar -->
                                                        <span>
                                                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <rect x="1" y="1" width="16" height="16" rx="1" fill="white"/>
                                                                <path d="M12.347 3.86944L14.1306 5.65218L12.347 3.86944ZM13.4939 2.29891L8.6712 7.12165C8.42201 7.37049 8.25206 7.68753 8.18278 8.03281L7.7373 10.2627L9.9672 9.81639C10.3125 9.74734 10.6291 9.57807 10.8784 9.32881L15.7011 4.50607C15.846 4.36115 15.961 4.1891 16.0394 3.99975C16.1178 3.81039 16.1582 3.60745 16.1582 3.40249C16.1582 3.19754 16.1178 2.99459 16.0394 2.80524C15.961 2.61589 15.846 2.44384 15.7011 2.29891C15.5562 2.15399 15.3841 2.03903 15.1948 1.9606C15.0054 1.88217 14.8025 1.8418 14.5975 1.8418C14.3926 1.8418 14.1896 1.88217 14.0003 1.9606C13.8109 2.03903 13.6389 2.15399 13.4939 2.29891V2.29891Z" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                                <path d="M14.4734 11.9474V14.4737C14.4734 14.9204 14.2959 15.3488 13.9801 15.6647C13.6642 15.9805 13.2358 16.1579 12.7892 16.1579H3.52601C3.07933 16.1579 2.65094 15.9805 2.33509 15.6647C2.01924 15.3488 1.8418 14.9204 1.8418 14.4737V5.21058C1.8418 4.7639 2.01924 4.33551 2.33509 4.01966C2.65094 3.70381 3.07933 3.52637 3.52601 3.52637H6.05232" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            </svg>                                     
                                                        </span> 
                                                        <!-- Textto -->
                                                        <span>Editar</span> 
                                                    </a>                                                                                                    
                                                </li>                                            
                                            </ul>
                                        </div>
                                    </button>
                                </div>                                 
                            </td>                                                                                                                                                    
                        </tr> 
                    </tbody>                
                </table>   
            </div>                                  
        </fieldset>
    </div>
</section>