
<nav class="lg:p-5   font-Poppins flex justify-center w-full sticky top-0 p-2 border-b z-10  bg-gray-50 shadow border-gray-300">
    <div class="container mx-auto   flex flex-wrap items-center font-semibold  justify-between">
        <!-- logotipo -->
        <a class=" cursor-pointer  h-auto flex flex-wrap p-1">
            <div class=" flex items-center flex-col  justify-center ml-2">
                <button class="focus:outline-none"><img src="assets/img/factuted.svg" alt=""></button>
            </div>
        </a>
        <!-- boton resposive -->
        <div class="block lg:hidden pr-4">
            <button id="nav-toggle" class="flex items-center p-2   hover:bg-red-100 bg-red-50 rounded-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
              <svg class="w-7 h-7 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
              </svg>
            </button>
        </div>
        <!-- termina boton resposive -->
        <div class="w-full flex-grow lg:flex lg:items-center  justify-end lg:w-auto hidden   z-20" id="nav-content">
            <ul class="list-reset  lg:flex justify-end flex-1  items-center">
                <li class="lg:px-6 xl:px-8 text-gray-800 text-sm ">
                    <button  class="inline-block active focus:text-azul-300 font-bold focus:outline-none items-center justify-center cursor-pointer   text-sm  py-2 px-4 ">INICIO
                    </button>
                </li>
                <li class=" lg:px-6 xl:px-8  text-gray-800 text-sm">
                    <button  class="inline-block focus:text-azul-300 font-bold  focus:outline-none  items-center justify-center cursor-pointer   text-sm py-2 px-4 ">DOCUMENTACIÓN</button>
                </li>

                <li class=" lg:px-6 xl:px-8  text-gray-800 text-sm">
                    <!-- <a href="#contacto" class="inline-block  items-center justify-center  cursor-pointer  font-medium text-sm py-2 px-4 ">Contactos</a> -->
                    <button  class="inline-block focus:text-azul-300 font-bold  focus:outline-none  items-center justify-center  cursor-pointer   text-sm py-2 px-4 ">FAQ</button>
                </li>

                <li class=" lg:px-6 xl:px-8  text-gray-800 text-sm">
                    <!-- <a href="#contacto" class="inline-block  items-center justify-center  cursor-pointer  font-medium text-sm py-2 px-4 ">Contactos</a> -->
                    <button  class="bg-azul-300 hover:bg-azul-400 rounded-3xl text-white px-10 py-2 font-bold focus:outline-none ">Regístrate</button>
                </li>
            </ul>
        </div>
    </div>
</nav>