<section class=" shadow-lg h-screen font-Poppins">
    <div class="flex pl-12 pt-5"> <img src="assets/img/factuted.svg" alt=""> </div>
    
 
    <div class="space-y-7 pt-10 border-b-2 border-gray-200 pb-28">
         <div class="w-full ">
             <button routerLink="venta" routerLinkActive="router-link-active"  class=" text-plomo-270 justify-center items-center hover:text-azul-400 focus:text-azul-400 focus:outline-none  flex gap-4   focus:border-azul-400">
                 <!-- Selector -->
                 <svg class="h-10 w-1  focus:flex" viewBox="0 0 8 72" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                     <path d="M0 0V0C4.41828 0 8 3.58172 8 8V64C8 68.4183 4.41828 72 0 72V72L0 0Z" />
                 </svg>  
                 <!-- Icono -->
                 <span class="focus:outline-none pl-8 flex gap-3 items-center " >
                     <svg class="h-6 w-6" viewBox="0 0 18 21" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                         <path d="M16 5H14C14 2.2 11.8 0 9 0C6.2 0 4 2.2 4 5H2C0.9 5 0 5.9 0 7V19C0 20.1 0.9 21 2 21H16C17.1 21 18 20.1 18 19V7C18 5.9 17.1 5 16 5ZM9 2C10.7 2 12 3.3 12 5H6C6 3.3 7.3 2 9 2ZM16 19H2V7H16V19ZM9 11C7.3 11 6 9.7 6 8H4C4 10.8 6.2 13 9 13C11.8 13 14 10.8 14 8H12C12 9.7 10.7 11 9 11Z" />
                     </svg> 
                     <span class="font-bold">Venta</span>
                 </span>
                 <!-- Categoria -->
                 
             </button>
         </div>
 
         <div class="w-full ">
             <button class=" text-plomo-270 justify-center items-center hover:text-azul-400 focus:text-azul-400 focus:outline-none  flex gap-4   focus:border-azul-400">
                 <!-- Selector -->
                 <svg class="h-10 w-1 focus:flex" viewBox="0 0 8 72" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                     <path d="M0 0V0C4.41828 0 8 3.58172 8 8V64C8 68.4183 4.41828 72 0 72V72L0 0Z" />
                 </svg>   
                 <!-- Icono -->
                 <span class="focus:outline-none pl-8 flex gap-3 items-center " >
                     <svg class="h-6 w-6" viewBox="0 0 18 19" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                         <path  d="M8.91628 7.21406V4.51406H6.23721V2.7H8.91628V0H10.7163V2.7H13.3953V4.51406H10.7163V7.21406H8.91628ZM5.35814 15.3141C5.86047 15.3141 6.28605 15.4898 6.63488 15.8414C6.98372 16.193 7.15814 16.6148 7.15814 17.107C7.15814 17.5992 6.98372 18.0211 6.63488 18.3727C6.28605 18.7242 5.86047 18.9 5.35814 18.9C4.85581 18.9 4.43721 18.7242 4.10233 18.3727C3.76744 18.0211 3.6 17.5992 3.6 17.107C3.6 16.6148 3.76744 16.193 4.10233 15.8414C4.43721 15.4898 4.85581 15.3141 5.35814 15.3141ZM14.2953 15.3141C14.7837 15.3141 15.2023 15.4898 15.5512 15.8414C15.9 16.193 16.0744 16.6148 16.0744 17.107C16.0744 17.5992 15.9 18.0211 15.5512 18.3727C15.2023 18.7242 14.7837 18.9 14.2953 18.9C13.807 18.9 13.3884 18.7242 13.0395 18.3727C12.6907 18.0211 12.5163 17.5992 12.5163 17.107C12.5163 16.6148 12.6907 16.193 13.0395 15.8414C13.3884 15.4898 13.807 15.3141 14.2953 15.3141ZM5.52558 12.4031C5.52558 12.5437 5.59535 12.6141 5.73488 12.6141H16.0744V14.4281H5.35814C4.85581 14.4281 4.43023 14.2523 4.0814 13.9008C3.73256 13.5492 3.55814 13.1203 3.55814 12.6141C3.55814 12.3047 3.64186 12.0234 3.8093 11.7703L4.9814 9.53438L1.8 2.7H0V0.928125H2.93023L3.76744 2.7L4.60465 4.51406L6.61395 8.775L6.73953 9.02812H12.9767L15.4465 4.51406L16.4512 2.7L18 3.58594L14.5674 9.87187C14.2326 10.4906 13.7023 10.8 12.9767 10.8H6.32093L5.52558 12.2766V12.4031Z" />
                     </svg>
                     <span class="font-bold">Compras</span>
                 </span>
             </button>
         </div>
         
         
         <div class="w-full">
             <button routerLink="almacen"  class=" text-plomo-270 justify-center items-center hover:text-azul-400 focus:text-azul-400 focus:outline-none  flex gap-4   focus:border-azul-400">
                 <!-- Selector -->
                 <svg class="h-10 w-1   focus:flex" viewBox="0 0 8 72" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                     <path d="M0 0V0C4.41828 0 8 3.58172 8 8V64C8 68.4183 4.41828 72 0 72V72L0 0Z" />
                 </svg>  
                 <!-- Icono -->
                 <span class="focus:outline-none pl-8 flex gap-3 items-center " > 
                     <svg class="h-6 w-6" viewBox="0 0 20 19" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                         <path d="M10 0L0 10H2V19H18V10H20L10 0ZM10 3L16 9V17H4V9L10 3ZM14 11V13H6V11H14Z" />
                     </svg>                                                                         
                     <span class="font-bold">Almacen</span>
                 </span>
                 <!-- Categoria --> 
             </button>

             <ul>
                 <li>
                     <a href=""></a>
                </li>
             </ul>
             
 
 
         </div>


       
         <div class="w-full ">
             <button class=" text-plomo-270 justify-center items-center hover:text-azul-400 focus:text-azul-400 focus:outline-none  flex gap-4   focus:border-azul-400">
                 <!-- Selector -->
                 <svg class="h-10 w-1   focus:flex" viewBox="0 0 8 72" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                     <path d="M0 0V0C4.41828 0 8 3.58172 8 8V64C8 68.4183 4.41828 72 0 72V72L0 0Z" />
                 </svg>  
                 <!-- Icono -->
                 <span class="focus:outline-none pl-8 flex gap-3 items-center " >
                     
                     <svg class="h-6 w-6" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                         <path d="M9.11111 4.88889C8.9343 4.88889 8.76473 4.95913 8.63971 5.08415C8.51468 5.20918 8.44444 5.37874 8.44444 5.55556C8.44444 5.73237 8.51468 5.90194 8.63971 6.02696C8.76473 6.15198 8.9343 6.22222 9.11111 6.22222H12.2222C12.399 6.22222 12.5686 6.15198 12.6936 6.02696C12.8187 5.90194 12.8889 5.73237 12.8889 5.55556C12.8889 5.37874 12.8187 5.20918 12.6936 5.08415C12.5686 4.95913 12.399 4.88889 12.2222 4.88889H9.11111ZM8.44444 10.4444C8.44444 10.2676 8.51468 10.0981 8.63971 9.97304C8.76473 9.84802 8.9343 9.77778 9.11111 9.77778H12.2222C12.399 9.77778 12.5686 9.84802 12.6936 9.97304C12.8187 10.0981 12.8889 10.2676 12.8889 10.4444C12.8889 10.6213 12.8187 10.7908 12.6936 10.9158C12.5686 11.0409 12.399 11.1111 12.2222 11.1111H9.11111C8.9343 11.1111 8.76473 11.0409 8.63971 10.9158C8.51468 10.7908 8.44444 10.6213 8.44444 10.4444ZM6.91556 4.19556C7.0404 4.32056 7.11052 4.49 7.11052 4.66667C7.11052 4.84333 7.0404 5.01278 6.91556 5.13778L5.13778 6.91556C5.01278 7.0404 4.84333 7.11052 4.66667 7.11052C4.49 7.11052 4.32056 7.0404 4.19556 6.91556L3.30667 6.02667C3.18891 5.90029 3.1248 5.73314 3.12784 5.56042C3.13089 5.38771 3.20086 5.22293 3.323 5.10078C3.44515 4.97864 3.60993 4.90867 3.78265 4.90562C3.95536 4.90257 4.12251 4.96668 4.24889 5.08444L4.66667 5.50222L5.97333 4.19556C6.09833 4.07071 6.26778 4.00059 6.44444 4.00059C6.62111 4.00059 6.79056 4.07071 6.91556 4.19556ZM6.91556 10.0267C6.98105 9.96563 7.03359 9.89203 7.07003 9.81026C7.10646 9.72848 7.12606 9.6402 7.12764 9.55069C7.12922 9.46117 7.11275 9.37226 7.07922 9.28925C7.04569 9.20623 6.99578 9.13083 6.93248 9.06752C6.86917 9.00422 6.79377 8.95431 6.71075 8.92078C6.62774 8.88725 6.53883 8.87078 6.44931 8.87236C6.3598 8.87394 6.27152 8.89353 6.18974 8.92997C6.10797 8.96641 6.03437 9.01895 5.97333 9.08444L4.66667 10.3911L4.24889 9.97333C4.12251 9.85557 3.95536 9.79146 3.78265 9.79451C3.60993 9.79756 3.44515 9.86753 3.323 9.98967C3.20086 10.1118 3.13089 10.2766 3.12784 10.4493C3.1248 10.622 3.18891 10.7892 3.30667 10.9156L4.19556 11.8044C4.32056 11.9293 4.49 11.9994 4.66667 11.9994C4.84333 11.9994 5.01278 11.9293 5.13778 11.8044L6.91556 10.0267ZM2 0C1.46957 0 0.960859 0.210714 0.585786 0.585786C0.210714 0.960859 0 1.46957 0 2V14C0 14.5304 0.210714 15.0391 0.585786 15.4142C0.960859 15.7893 1.46957 16 2 16H14C14.5304 16 15.0391 15.7893 15.4142 15.4142C15.7893 15.0391 16 14.5304 16 14V2C16 1.46957 15.7893 0.960859 15.4142 0.585786C15.0391 0.210714 14.5304 0 14 0H2ZM1.33333 2C1.33333 1.82319 1.40357 1.65362 1.5286 1.5286C1.65362 1.40357 1.82319 1.33333 2 1.33333H14C14.1768 1.33333 14.3464 1.40357 14.4714 1.5286C14.5964 1.65362 14.6667 1.82319 14.6667 2V14C14.6667 14.1768 14.5964 14.3464 14.4714 14.4714C14.3464 14.5964 14.1768 14.6667 14 14.6667H2C1.82319 14.6667 1.65362 14.5964 1.5286 14.4714C1.40357 14.3464 1.33333 14.1768 1.33333 14V2Z" />
                         </svg>
                         
                     <span class="font-bold">Gestión Pedidos</span>
                 </span>
                 <!-- Categoria -->
                 
             </button>
         </div>
         <div class="w-full ">
             <button class=" text-plomo-270 justify-center items-center hover:text-azul-400 focus:text-azul-400 focus:outline-none  flex gap-4   focus:border-azul-400">
                 <!-- Selector -->
                 <svg class="h-10 w-1  focus:visible" viewBox="0 0 8 72" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                     <path d="M0 0V0C4.41828 0 8 3.58172 8 8V64C8 68.4183 4.41828 72 0 72V72L0 0Z" />
                 </svg>  
                 <!-- Icono -->
                 <span class="focus:outline-none pl-8 flex gap-3 items-center " >
                     
                     <svg class="h-6 w-6" viewBox="0 0 16 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                         <path d="M14.2857 2.14286H12.1429V1.42857C12.1429 1.04969 11.9923 0.686328 11.7244 0.418419C11.4565 0.15051 11.0932 0 10.7143 0H5C4.62112 0 4.25776 0.15051 3.98985 0.418419C3.72194 0.686328 3.57143 1.04969 3.57143 1.42857V2.14286H1.42857C1.04969 2.14286 0.686328 2.29337 0.418419 2.56128C0.15051 2.82919 0 3.19255 0 3.57143V18.5714C0 18.9503 0.15051 19.3137 0.418419 19.5816C0.686328 19.8495 1.04969 20 1.42857 20H14.2857C14.6646 20 15.028 19.8495 15.2959 19.5816C15.5638 19.3137 15.7143 18.9503 15.7143 18.5714V3.57143C15.7143 3.19255 15.5638 2.82919 15.2959 2.56128C15.028 2.29337 14.6646 2.14286 14.2857 2.14286ZM5 1.42857H10.7143V4.28571H5V1.42857ZM14.2857 18.5714H1.42857V3.57143H3.57143V5.71429H12.1429V3.57143H14.2857V18.5714Z" />
                         <path d="M7.57227 13.2852H9.00084V16.1423H7.57227V13.2852Z" />
                         <path d="M11.1426 11.8574H12.5711V16.1431H11.1426V11.8574Z" />
                         <path d="M4 9H5.42857V16.1429H4V9Z" />
                         </svg>
                         
                     <span class="font-bold">Informes</span>
                 </span>
                 <!-- Categoria -->
                 
             </button>
         </div>
    </div>
 
    <div class="pt-10 ">
         <div class="flex flex-col">
             <div class="flex justify-center">
                 <img class="object-cover w-36 " src="assets/img/home/porcentaje2.png" alt="">
             </div>
             <div>
                 <div class="px-9 pt-6 text-base">
                     <span class="flex justify-between items-center"> 
                         <div class="flex items-center gap-3">
                             <svg width="14" height="14" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <circle cx="4" cy="4" r="4" fill="#46D4A1"/>
                             </svg>
                             <label>Efectivo</label>
                         </div>   
                         <div>S/. 1,652.30</div>
                     </span>
                     
                 </div>
                 <div class="px-9 pt-2 text-base">
                     <span class="flex justify-between items-center"> 
                         <div class="flex items-center gap-3">
                             <svg width="14" height="14" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <circle cx="4" cy="4" r="4" fill="#1491ED"/>
                             </svg>
                                 
                             <label>Credito</label>
                         </div>   
                         <div>S/. 203.02</div>
                     </span>
                 </div>
             </div>
             <button class="flex items-center justify-center pt-10 focus:outline-none">
                 <img class="object-cover w-48" src="assets/img/home/cajaactiva.svg" alt="">
             </button>
             <button class=" items-center justify-center pt-10 focus:outline-none hidden">
                 <img class="object-cover w-48" src="assets/img/home/cajacerrada.svg" alt="">
             </button>
         </div>
     </div>
 </section>