@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Manrope&family=Poppins:wght@600&display=swap");
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.adorno{
  background-image: url(assets/img/adorno.svg);
  object-fit: contain;
}

/*------------------------------------------------------- imputs y texttarea de color de la empresa */
textarea:focus,
input:focus,
input[type]:focus {
border-color: #1491ED;
box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
  0 0 8px rgba(20, 145, 237, 0.6);
outline: 0 none;
}

textarea[type]:focus {
border-color: #1491ED;
box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
0 0 8px rgba(20, 145, 237, 0.6);
outline: 0 none;
}


/*-------------------------------------------------------------------------------- PAGINA VENTA------------------------------------------------------------------------------ */
/*------------------------------------------------------------------- TABS ----------------------------------------------------------------------- */

/*------------------------------------------------------------- TAB LISTADO--------------------------------------------- */
/*----------------------------------------- TABLA -------------------------------------------- */
.example-container {
display: flex;
flex-direction: column;
height: full;
min-width: 300px;
}

.mat-table {
overflow: auto;
max-height: 750px;
}

.mat-column-select {
overflow: visible;
}

/* Posicionar el encabezado de la tabla de manera fija */
.mat-header-row{
position: sticky;
top: 0;
z-index: 1;
background-color: #ffffff;
}


/*------------------------------------------------------------------ Dropdown del boton de Comprobantes */
/* DROPDOWN click para poder visualizar sus opcion */
#comprobante:checked ~ #comprobantes {
opacity: 1;
}

#filtro:checked ~ #filtros {
opacity: 1;
}

#almacen:checked ~ #principal {
	opacity: 1;
}

#t1:checked ~ #tienda1 {
	opacity: 1;
}






/* Estilo de flecha para el navegador Dropdown */
.filtro:before {
content: "";
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-bottom: 10px solid white;
position: absolute;
left: 55%;
top: 0;
transform: translate(-50%, -100%);
}

.comprobant:before {
content: "";
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-bottom: 10px solid white;
position: absolute;
left: 8%;
top: 0;
transform: translate(-50%, -100%);
}


/* Combo box personalizable */
select {
 -webkit-appearance:none;
 -moz-appearance:none;
 -ms-appearance:none;
 appearance:none;
 outline:0;
 box-shadow:none;
 background-image: none;
 flex: 1;
 padding: 0 .5em;
 cursor:pointer;
 font-size: 1em;
 font-family: 'Open Sans', sans-serif;
}

select:focus {
-webkit-appearance:none;
-moz-appearance:none;
-ms-appearance:none;
appearance:none;
outline:0;
color: #616161;
box-shadow:none;
border:0!important;
background-image: none;
flex: 1;
padding: 0 .5em;
cursor:pointer;
border-radius: .25em;
font-size: 1em;
font-family: 'Open Sans', sans-serif;
}

select::-ms-expand {
 display: none;
}
.select {
 position: relative;
 display: flex;
 width: 20em;
 height: 3em;
 line-height: 3;
 overflow: hidden;

}
.select::after {
 content: '\25BC';
 position: absolute;
 top: 0;
 right: 0;
 padding: 0 1em;
 cursor:pointer;
 pointer-events:none;
 transition:.25s all ease;

}
.select:hover::after {
 color: #555756;

}


/*--------------------------------------------------- TABS DE LOS PEDIDOS DE PRODUCTOS DE LA SECCION  ---------------------- */
:root{
  --color:#616161;
}

main{
  height: 100%;
  overflow: hidden;
}

.main{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main .slides {
  display: flex;
  height: 100% ;
  width: 500%;
}

.main .slides section {
  width:20%;
  align-items: center;
  justify-content: space-around;
  transition: width 2s, height 4s;
}

.selector{
display: none;
}

#r1:checked ~ .main .slides > section:nth-child(1){
  margin-left: 0% ;   
}
#r2:checked ~ .main .slides > section:nth-child(1){
  margin-left: -20% ;
}
#r3:checked ~ .main .slides > section:nth-child(1){
  margin-left: -40% ; 
}
#r4:checked ~ .main .slides > section:nth-child(1){
  margin-left: -60% ;
}


#r1:checked ~ .controls > div > label:nth-child(1),
#r2:checked ~ .controls > div > label:nth-child(2),
#r3:checked ~ .controls > div > label:nth-child(3),
#r4:checked ~ .controls > div > label:nth-child(4){
  color:var(--color);
  font-weight: bold;
  border-bottom: 3px solid #616161;
  
}

/*------------------------------------------------------ TABS DE LOS VENDEDORES DE LA SECCION DE CONTROL DE PEDIDO -------------------------------------------*/

.listado{
height: 100%;
width: 100%;
overflow: hidden;
}

.listado .pedido {
display: flex;
height: 100% ;
width: 500%;
}

.listado .pedido section {
width:20%;
align-items: center;
justify-content: space-around;
transition: width 2s, height 4s;
}

.selectvendedor {
display: none;
}

#vende1:checked ~ .inic .listado .pedido > section:nth-child(1){
margin-left: 0% ;

}
#vende2:checked ~ .inic .listado .pedido > section:nth-child(1){
margin-left: -20% ;

}
#vende3:checked ~ .inic .listado .pedido > section:nth-child(1){
margin-left: -40% ;

}
#vende4:checked ~ .inic .listado .pedido > section:nth-child(1){
margin-left: -60% ;

}

#vende1:checked ~ .inic .autores .vendedores >  div > label:nth-child(1),
#vende2:checked ~ .inic .autores .vendedores >  div > label:nth-child(2),
#vende3:checked ~ .inic .autores .vendedores >  div > label:nth-child(3),
#vende4:checked ~ .inic .autores .vendedores >  div > label:nth-child(4){
  color:var(--color);
  font-weight: bold;
  border-bottom: 1px solid rgb(233, 233, 233);
  border-top:   2px solid rgb(233, 233, 233) ;
  box-shadow: 0 2px 2px 0 rgb(233, 233, 233);
  border-left: 4px solid #1491ED;
  
}

/* Calse para esconde elemento */
.showingData {
display: none;
}

/* Boton deplegable */
.desplegable{
padding: 0.34rem;
}

/* boton ocultar */
.ocultar{
padding: 0.34rem;
}

/* boton delete */
.delete{
padding: 0.34rem;
}

/* filas de los pedidos de los productos */
tr > td   {
padding-top: 1rem;
padding-bottom: 1rem;
border-bottom: 1px solid #e7e2e2;
}

tr > th   {
padding-top: 1rem;
padding-bottom: 2rem;
}

/* Altura y Scrool de la Tabla  */
#tabla {
overflow-y:auto;
height:500px;
}

/* Altura y Scrol de la Tabla de traslados */

#tablatraslados{
overflow-y:auto;
height:650px;
}

/* Posicionamiento fijo del header de la tabla */
thead tr th { 
position: sticky;
top: 0;
z-index: 10;
background-color: #ffffff;
}

/* Transición suves */
.animated {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

.fast{
-webkit-animation-duration: 0.4s;
animation-duration: 0.4s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

@Keyframes fadeIn {
from{
  opacity:0;
}

to {
  opacity: 1;
}
}

.fadeIn {
animation-name:fadeIn;
}

/* selector personalzable */
.select-box {
position: relative;
display: block;
justify-content: start;
width: 100%;
margin: 0 auto;
font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
font-size: 18px;
color: #60666d;
}
@media (min-width: 768px) {
.select-box {
  width: 70%;
}
}
@media (min-width: 992px) {
.select-box {
  width: 50%;
}
}
@media (min-width: 1200px) {
.select-box {
  width: 30%;
}
}
.select-box__current {
position: relative;
box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
cursor: pointer;
outline: none;
}
.select-box__current:focus + .select-box__list {
opacity: 1;
animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
cursor: pointer;
}
.select-box__current:focus .select-box__icon {
transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
position: absolute;
top: 50%;
right: 15px;
transform: translateY(-50%);
width: 20px;
opacity: 0.3;
transition: 0.2s ease;
}
.select-box__value {
display: flex;
}
.select-box__input {
display: none;
}
.select-box__input:checked + .select-box__input-text {
display: block;
}
.select-box__input-text {
display: none;
width: 100%;
margin: 0;
padding: 15px;
background-color: #fff;
}
.select-box__list {
position: absolute;
width: 100%;
padding: 0;
list-style: none;
opacity: 0;
animation-name: HideList;
animation-duration: 0.5s;
animation-delay: 0.5s;
animation-fill-mode: forwards;
animation-timing-function: step-start;
box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
.select-box__option {
display: block;
padding: 15px;
background-color: #fff;
}
.select-box__option:hover, .select-box__option:focus {
color: #546c84;
background-color: #fbfbfb;
}
@keyframes HideList {
from {
  transform: scaleY(1);
}
to {
  transform: scaleY(0);
}
}


/* animacion de modal de derecha a izquierda */
.overlay{    
height: 100%;
width: 0;
background: white;
position:fixed; 
z-index: 50; 
left: 100%;
top: 0;
overflow-x: hidden; 
transition: 1s; 
}












