
<section class="flex w-full font-Poppins bg-azul-100 ">
    <div class="w-2/12" > 
        <!-- Seccion del SIDEBAR -->
        <div class="w-full">
            <app-sidebar></app-sidebar>
        </div>
    </div>
    <div class="w-10/12">
        <!-- Seccion del NAVBAR-PRINCIPAL -->
        <div class="w-full">
            <app-navbarprincipal></app-navbarprincipal>
         </div>
        <div class="w-full  ">
            <router-outlet></router-outlet>        
        </div>        
    </div> 
</section>

